.projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.projects h1 {
    display: flex;
    justify-content: center;
}

.projects-button {
    margin-top: 20px;
    display: flex;
    border-radius: 15px;
}

.projects-button input {
    flex: 1;
    margin: 0;
    border: none;
    background-color: transparent;
    color: plum;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid purple;
    background-color: #2a1051;
}

.projects-button input:hover {
    background-color: #360f6b;
}

.projects-button input:focus {
    background-color: #0e051b;
}

#web {
    border-radius: 10px 0 0 10px;
}

#aca {
    border-radius: 0 10px 10px 0;
}


.projects-website, .projects-academics  {
    border-radius: 10px;
    width: 80%;
    height: 70%;
    padding: 20px;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    background-color: rgb(22, 22, 47);
    justify-content: space-around;
}


.website {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: purple;
    flex-basis: 30%;
    margin: 10px;
}

.website:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    background-color: #2a1051;
}

.website img {
    width: 100%;
    border-radius: 10px;
}

.website p {
    width: 100%;
    text-align: justify;

}

.website h5 {
    margin-top: 10px;
    margin-right: 5px;
    padding: 4px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: purple;
}

.website h3 {
    display: flex;
    flex-wrap: wrap;
}

.website a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: plum;
}

.website a:hover {
    text-decoration: underline;
}

.academics {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: purple;
  flex-basis: 45%;
  margin: 10px;
}

.academics:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  background-color: #2a1051;
}

.academics img {
  width: 100%;
  border-radius: 10px;
}

.academics p {
  width: 100%;
  text-align: justify;

}

.academics h5 {
  margin-top: 10px;
  margin-right: 5px;
  padding: 4px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: purple;
}

.academics h3 {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width:768px) {
    .projects {
        padding: 10px;
      }
    
      .projects-button input {
        width: 100%;
        margin-bottom: 10px;
        font-size: 16px;
      }
    
      .website ,.academics {
        flex-basis: 100%;
        width: 90%;
        margin: 10px auto;
        text-align: center;
      }
    
      .website h5,.academics h5 {
        font-size: 12px;
      }
    
      .website h3, .academics h3 {
        font-size: 15px;
      }
    
      .website p, .academics p {
        font-size: 12px;
      }
    
      .website a {
        font-size: 14px;
      }
    
      .website img,.academics img {
        width: 100%;
        height: auto;
      }
}

@media screen and (max-width:480px) {
    .projects{
        margin-top: 15px;
      }
      .projects p{
        font-size: 12px;
      }
      .projects-button{
        margin-top: 10px;
      }
      .projects-button input {
        font-size: 14px;
      }
      .projects-website, .projects-academics{
        margin-top: 8px;
        padding: 8px;
      }
      .website h5,.academics h5 {
        font-size: 10px;
      }
    
      .website h3,.academics h3 {
        font-size: 12px;
        margin-top: -12px;
      }
    
      .website p,.academics p {
        font-size: 10px;
      }
    
      .website a {
        font-size: 12px;
      }
}