.About {
    width: 30%;
    left: 10%;
    margin-top: 120px;
    position: relative;
    text-align: justify;
    display: inline-block;
    font-size: 130%;
}

.About-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

blockquote {

    font-size: 20px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(35deg,
            var(--color-primary),
            var(--color-secondary));

    p {
        margin: 0;
    }
}

:root {
    --color-primary: hsl(310, 100%, 65%);
    --color-secondary: hsl(160, 100%, 65%);
    --background: hsl(230, 30%, 15%);
    --text: hsl(310, 100%, 95%);
}

.container-auto {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 4px;
}

.container-auto span {
    color: plum;
}

.About h1 {
    font-size: 220%;
}

.Resume {
    width: 100%;
    display: flex;
    justify-content: center;
}

.About button {
    margin-top: 50px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    background-image: linear-gradient(to right, rgb(249, 106, 220), rgb(183, 43, 211));
    transition: background-image 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.photo {
    /* position: absolute;
    top: 25%;
    right: 10%; */
    margin-top: 140px;
    margin-right: 95px;
}

.photo img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: purple;
}

.Resume a {
    text-decoration: none;
    color: #fff;
}

.Resume button:hover {
    background-image: linear-gradient(to right, rgb(183, 13, 149), rgb(131, 18, 153));
    transform: scale(1.05);
}

@media screen and (max-width:768px) {
    .About {
        width: 45%;
        margin-top: 100px;
        text-align: center;
    }

    .About h1 {
        font-size: 22px;
    }

    blockquote {
        font-size: 12px;
    }

    .container-auto {
        font-size: 16px;
        height: 50px;
    }

    .photo {
        margin-top: 95px;
        margin-right: 75px;
    }

    .photo img {
        width: 25vw;
        height: 15vh;
    }

    .About p {
        font-size: 16px;
        margin-top: 70px;
        width: 80vw;
        text-align: justify;
    }

    .Resume {
        width: 80vw;
    }

    .About button {
        margin-top: 25px;
        font-size: 16px;
        padding: 10px 20px 10px 20px;
    }

}

@media screen and (max-width:480px) {
    .About {
        max-width: 40%;
    }

    .About h1 {
        font-size: 1rem;
    }

    blockquote {
        font-size: 0.8rem;
    }

    .container-auto h2 {
        font-size: 12px;
    }

    .photo {
        margin-top: 75px;
        margin-right: 45px;
    }

    .photo img {
        width: 25vw;
        height: 15vh;
    }

    .About p {
        margin-top: 20px;
        font-size: 14px;
    }

    .About button {
        margin-top: 10px;
        font-size: 12px;
        padding: 6px 12px 6px 12px;
    }

    .photo {
        top: 20%;
        right: 10%;
    }
}