.blogheader {
    background-color: #ff6347;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.blogheader nav {
    display: flex;
    gap: 1.5rem;
}

.blogheader nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 4px;
}

.blogheader nav a:hover {
    background-color: #fff;
    color: tomato;
}


.blogheader nav a.active {
    background-color: #fff;
    color: white;
}